/*************************************** 
* Default styles for elements
****************************************/

h1 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

button {
  --hue: 0;
  --saturation: 100%;
  --lightness: 44%;
  --max-width: 25rem;
  --hsl: hsl(var(--hue), var(--saturation), var(--lightness));
  text-transform: uppercase;
  max-width: var(--max-width);
  border: 0;
  color: black;
  padding: var(--button-padding);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 var(--hsl);
  cursor: pointer;
  background-color: white;
  transition: 500ms ease-in-out box-shadow, 500ms color;
  outline: none;

  &:hover:not(:disabled),
  &:focus {
    color: white;
    box-shadow: inset var(--max-width) 0 0 0 var(--hsl);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

select,
input {
  background-color: white;
  border: 0;
  padding: var(--button-padding);
  border-radius: 4px;
}
