html,
body {
  height: 100%;
  font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
}

// Make math easier by using base 10
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  --header-height: 8rem;
  --hue: 218;
  --saturation: 21%;
  --lightness: 93%;
  --background-color: hsl(var(--hue), var(--saturation), var(--lightness));
  background-color: var(--background-color);
}

// Layout of the page
#root {
  height: 100%;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
  padding: 1.6rem;
}

// Default styles for elements
h1 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}
