@mixin background-image($url) {
  position: relative;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  color: white;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@mixin background-color {
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
}

@mixin text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin card {
  --hue: 0;
  --saturation: 80%;
  --lightness: 30%;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
  transition: 300ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 3px 3px 2px 0 hsl(var(--hue), var(--saturation), var(--lightness));
  }
}
