.order-card {
  --hue: 0;
  --saturation: 80%;
  --lightness: 30%;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
  transition: 300ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 3px 3px 2px 0 hsl(var(--hue), var(--saturation), var(--lightness));
  }

  & > div:first-of-type {
    font-weight: 700;
  }

  .field-container {
    display: flex;
    justify-content: space-between;
  }

  .label {
    font-weight: 600;
  }
}
