@use "../../../../common/styles/mixins.scss";

.order-card {
  @include mixins.card;

  & > div:first-of-type {
    font-weight: 700;
  }

  .field-container {
    display: flex;
    justify-content: space-between;
  }

  .label {
    font-weight: 600;
  }
}
